html {
  color: #222;
  background-color: #ff0;
}

body {
  padding-top: 12rem;
}

h1 {
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
}

h2 {
  text-align: center;
  font-family: "Amatic SC", sans-serif;
}

p {
  font-family: "Lexend Deca", sans-serif;
}

.box {
  width: calc(75%);
  background: #ddd;
  cursor: pointer;
  color: #fff;
  text-align: center;
}

.blue {
  background-color: rgba(56, 207, 248, 0.5);
}

.translatey {
  transition: all 0.5s ease;
}


.box:hover .translatey {
  transform: translateY(2em);
}

.translatex {
  transition: all 0.5s ease;
}

.box:hover .translatex {
  transform: translateX(2em);
}

.rotate {
  transition: all 0.5s ease;
}

.box:hover .rotate {
    transform: rotate(270deg); /* Standard syntax */
}

.rotatey {
  transition: all 0.5s ease;
/*   perspective: 300px; */
/*   transform-style: preserve-3d; */
}

.box:hover .rotatey {
/*   transform: translate3d(42px, 42px, 42px); */
  transform: perspective(500px) scaleZ(2) rotateY(45deg);
 /* Standard syntax */
}

.rotatex {
/*   perspective: 100px; */
  transition: all 0.5s ease;
}

.box:hover .rotatex {
  transform: perspective(500px) scaleZ(2) rotateX(45deg);
 /* Standard syntax */
}

.scale {
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}


.box:hover .scale {
  transform: scale(1.5, 1.5);
}
